# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# Truffle and Graph build artifacts
build/

# Subgraph stuff
abis/
generated/
.env
subgraph.yaml
